UPPER_LEFT_ACTION_ID=1
UPPER_RIGHT_ACTION_ID=5
LOWER_LEFT_ACTION_ID=0
LOWER_RIGHT_ACTION_ID=0
DISABLE_WHEN_FULL_SCREEN=0
UPPER_LEFT_COMMAND=
UPPER_RIGHT_COMMAND=xfce4-session-logout
LOWER_LEFT_COMMAND=
LOWER_RIGHT_COMMAND=

